@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 123 38% 65%;
    --primary-foreground: 120 25% 15%;
    --secondary: 0 0% 92%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 0 0% 92%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 177 21% 54%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 177 21% 54%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 20 14% 4%;
    --foreground: 0 0% 98%;
    --card: 20 14% 4%;
    --card-foreground: 0 0% 98%;
    --popover: 20 14% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 123 38% 65%;
    --primary-foreground: 120 25% 15%;
    --secondary: 20 14% 10%;
    --secondary-foreground: 0 0% 98%;
    --muted: 20 14% 10%;
    --muted-foreground: 0 0% 63%;
    --accent: 177 21% 40%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14% 10%;
    --input: 20 14% 10%;
    --ring: 123 38% 65%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
